@charset "UTF-8";
/* 公共部分  */
.headerDiv {
  width: 100%;
  height: 120px;
  background: #1F6BBF url("../image/head_bg.jpeg") no-repeat center;
}
.headerDiv .header {
  width: 1200px;
  height: 120px;
  margin: auto;
}
.headerDiv .header .headerLogo {
  width: 800px;
  height: 120px;
  float: left;
}
.headerDiv .header .headerLogo .headerLogoImg {
  height: 80px;
  margin-top: 20px;
}
.headerDiv .header .headerSearch {
  width: 400px;
  height: 120px;
  float: right;
}
.headerDiv .header .headerSearch .searchBox, .headerDiv .header .headerSearch .portal-w {
  width: 280px;
  height: 40px;
  float: right;
  margin-top: 40px;
  background-color: white;
}
.headerDiv .header .headerSearch .searchBox form, .headerDiv .header .headerSearch .portal-w form {
  width: 280px;
  height: 40px;
}
.headerDiv .header .headerSearch .searchBox form .wp_search, .headerDiv .header .headerSearch .portal-w form .wp_search {
  width: 280px;
  height: 40px;
}
.headerDiv .header .headerSearch .searchBox form .wp_search table, .headerDiv .header .headerSearch .portal-w form .wp_search table {
  width: 280px;
  height: 40px;
}
.headerDiv .header .headerSearch .searchBox form .wp_search table td, .headerDiv .header .headerSearch .portal-w form .wp_search table td {
  padding: 0px;
}
.headerDiv .header .headerSearch .searchBox form .wp_search table .keyword, .headerDiv .header .headerSearch .portal-w form .wp_search table .keyword {
  width: 240px !important;
  height: 40px;
  border: none;
  padding: 0px;
  padding-left: 10px;
  float: left;
}
.headerDiv .header .headerSearch .searchBox form .wp_search table .search, .headerDiv .header .headerSearch .portal-w form .wp_search table .search {
  width: 40px;
  height: 40px;
  padding: 0px;
  border: 0px;
  background: #1F4888 url("../image/search.png") no-repeat center;
  background-size: 75% 75%;
  float: right;
}

.naviBarDiv {
  width: 100%;
  height: 60px;
  background: #204888;
}
.naviBarDiv .naviBar {
  width: 1200px;
  height: 60px;
  margin: auto;
}
.naviBarDiv .naviBar .naviCon, .naviBarDiv .naviBar #wp_nav_w02 {
  width: 1200px;
  height: 60px;
}
.naviBarDiv .naviBar .naviCon .wp_nav, .naviBarDiv .naviBar #wp_nav_w02 .wp_nav {
  width: 1200px;
  height: 60px;
}
.naviBarDiv .naviBar .naviCon .wp_nav .nav-item, .naviBarDiv .naviBar #wp_nav_w02 .wp_nav .nav-item {
  width: 150px;
  background: #204888;
  line-height: 60px;
}
.naviBarDiv .naviBar .naviCon .wp_nav .nav-item a, .naviBarDiv .naviBar #wp_nav_w02 .wp_nav .nav-item a {
  color: #ffffff;
  background-color: inherit;
  font-size: 18px;
  text-align: center;
}
.naviBarDiv .naviBar .naviCon .wp_nav .nav-item:hover, .naviBarDiv .naviBar #wp_nav_w02 .wp_nav .nav-item:hover {
  color: #ffffff;
  background: #1F6BBF;
}

.footerDiv {
  width: 100%;
  height: 100px;
  background: #204888;
  margin-top: 50px;
}
.footerDiv .footer {
  width: 1200px;
  height: 100px;
  margin: auto;
}
.footerDiv .footer .footerLeft {
  width: 400px;
  height: 100px;
  padding-top: 5px;
  box-sizing: border-box;
  float: left;
}
.footerDiv .footer .footerLeft .footerLeftCon {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #ffffff;
}
.footerDiv .footer .footerRight {
  width: 800px;
  height: 100px;
  float: right;
}
.footerDiv .footer .footerRight .footerLogoImg {
  height: 60px;
  margin-top: 20px;
  float: right;
}

body {
  font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Tohoma, Arial !important;
}

/*主页*/
.main {
  margin: 0px;
  padding: 0px;
}
.main .content {
  width: 1200px;
  height: 1050px;
  margin: auto;
}
.main .content .imageBox {
  width: 380px;
  height: 400px;
  margin-top: 50px;
  float: left;
}
.main .content .imageBox .img {
  width: 380px;
  height: 450px;
}
.main .content .imageBox .dtjt10_div_img {
  margin: 10px;
}
.main .content .imageBox .dtjt10_div_img img {
  object-fit: contain;
}
.main .content .imageBox .dtjt10_div_img .number {
  right: 20px;
}
.main .content .imageBox .dtjt10_div_text {
  position: relative;
  top: 260px;
  left: -380px;
  margin-top: 10px;
  width: 380px;
  height: 130px;
}
.main .content .imageBox .dtjt10_div_text .dtjt10_div_text_title {
  background: #fff;
}
.main .content .imageBox .dtjt10_div_text .dtjt10_div_text_title a {
  font-size: 20px;
}
.main .content .imageBox .dtjt10_div_text .dtjt10_div_text_text {
  margin-top: 25px;
  padding: 0px 10px 0px 10px;
  text-align: justify;
}
.main .content .row {
  width: 1200px;
  height: 450px;
  margin-top: 50px;
}
.main .content .row .rowCon {
  width: 380px;
  height: 450px;
}
.main .content .row .rowCon .ConTitle {
  width: 380px;
  height: 50px;
  border-bottom: 2px solid #1F6BBF;
  color: #204988;
  box-sizing: border-box;
}
.main .content .row .rowCon .ConTitle .title {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 5px solid #204988;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  font-family: "SimSun";
}
.main .content .row .rowCon .ConTitle .moreBtn {
  width: 100px;
  height: 50px;
  float: right;
  line-height: 50px;
  font-weight: 700;
}
.main .content .row .rowCon .ConTitle .moreBtn .moreText {
  float: right;
}
.main .content .row .rowCon .cons {
  width: 380px;
  height: 400px;
  z-index: 1000;
  position: relative;
}
.main .content .row .rowCon .cons .con {
  width: 380px;
  height: 400px;
}
.main .content .row .rowCon .cons .wp_article_list {
  height: 50px;
}
.main .content .row .rowCon .cons .wp_article_list .list_item {
  height: 50px;
  line-height: 50px;
  border: none;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields {
  margin-left: 10px;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Index {
  width: 20px;
  height: 50px;
  margin: 0px;
  background: url("../image/trangle.png") no-repeat center;
  background-size: 15px 15px;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a {
  text-decoration: none;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a, .main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a:link, .main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a:visited {
  color: #1F6BBF;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a:hover {
  color: #ff0000;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a:active, .main .content .row .rowCon .cons .wp_article_list .list_item .pr_fields .Article_Title a:target {
  color: #1F6BBF;
}
.main .content .row .rowCon .cons .wp_article_list .list_item .ex_fields {
  margin-right: 10px;
}
.main .content .row .rowCon .cons .news_list .news {
  height: 80px;
  margin: 0px;
  padding: 0px;
  border: none;
}
.main .content .row .rowCon .cons .news_list .news .news_time {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 0px;
}
.main .content .row .rowCon .cons .news_list .news .news_wz {
  text-align: center;
}
.main .content .row .rowCon .cons .news_list .news .news_wz .news_title {
  height: 80px;
  line-height: 80px;
}
.main .content .row .rowCon .cons .news_list .news .news_wz .news_title a {
  text-decoration: none;
}
.main .content .row .rowCon .cons .news_list .news .news_wz .news_title a, .main .content .row .rowCon .cons .news_list .news .news_wz .news_title a:link, .main .content .row .rowCon .cons .news_list .news .news_wz .news_title a:visited {
  color: #1F6BBF;
}
.main .content .row .rowCon .cons .news_list .news .news_wz .news_title a:hover {
  color: #ff0000;
}
.main .content .row .rowCon .cons .news_list .news .news_wz .news_title a:active, .main .content .row .rowCon .cons .news_list .news .news_wz .news_title a:target {
  color: #1F6BBF;
}
.main .content .row .rowCon .cons .news_list .news .news_wz .news_text {
  display: none;
}
.main .content .row .row00 {
  width: 760px;
  float: left;
}
.main .content .row .row00 .rowCon {
  float: right;
}
.main .content .row .row00 .rowCon .ConTitle {
  width: 760px;
  margin-left: -380px;
}
.main .content .row .row01 {
  width: 380px;
  float: right;
}
.main .content .row .row1 {
  width: 380px;
  height: 450px;
}
.main .content .row .row10 {
  float: left;
}
.main .content .row .row11 {
  float: left;
  margin-left: 30px;
}
.main .content .row .row12 {
  float: right;
}
.main .content .linkBox {
  width: 1200px;
  height: 50px;
  margin-top: 50px;
}
.main .content .linkBox .linkTitle {
  width: 100px;
  height: 50px;
  line-height: 50px;
  float: left;
  background: #204888;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-family: "SimSun";
  text-align: center;
}
.main .content .linkBox .links {
  width: 1100px;
  height: 50px;
  line-height: 50px;
  background: #f1f1f1;
  float: right;
}
.main .content .linkBox .links .link {
  float: left;
  margin-left: 40px;
}
.main .content .linkBox .links .link a {
  text-decoration: none;
}
.main .content .linkBox .links .link a:link, .main .content .linkBox .links .link a:visited {
  color: #1F6BBF;
}
.main .content .linkBox .links .link a:hover {
  color: #ff0000;
}
.main .content .linkBox .links .link a:active, .main .content .linkBox .links .link a:target {
  color: #1F6BBF;
}

/*# sourceMappingURL=style.css.map */
