.displayinfo {
  margin: 0px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}

.displayinfo .articalBox {
  position: relative;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.displayinfo .articalBox .articalContent {
  width: 100%;
  min-height: 1200px;
}

.displayinfo .articalBox .articalContent .articalTitle {
  text-align: center;
  color: #000000;
  margin-top: 60px;
  font-weight: bold;
  font-size: 30px;
  display: block;
  padding-bottom: 20px;
  font-family: Arial;
}

.displayinfo .articalBox .articalContent .text {
  font-size: 18px;
  margin-top: 10px;
  /* display: flex; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid;
}

.displayinfo .articalBox .articalContent .text .textCon0 {
  font-size: 0.875rem;
  color: #000000;
  margin-right: 20px;
  display: inline-block;
}

.displayinfo .articalBox .articalContent .text .articalDate {
  font-size: 0.875rem;
  color: #333333;
  line-height: 20px;
  display: inline-block;
}

.displayinfo .articalBox .articalContent .text .textCon1 {
  margin-left: 20px !important;
  margin-right: 20px;
  font-size: 0.875rem;
  color: #333333;
  display: inline-block;
}

.displayinfo .articalBox .articalContent .text .articalSee {
  font-size: 0.875rem;
  color: #333333;
  line-height: 20px;
  display: inline-block;
}

.displayinfo .articalBox .articalContent .articalCon {
  padding: 0px;
  font-stretch: normal;
  font-size: 15px;
  line-height: 1.7;
  color: #333333;
  text-align: justify;
  background-color: #ffffff;
  margin-bottom: 20px !important;
  font-family: Microsoft YaHei !important;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.listcolumn {
  margin: 0px;
  padding: 0px;
}

.listcolumn .listRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: auto;
}

.listcolumn .listRow .column {
  width: 1200px;
  min-height: 800px;
  margin: auto;
  white-space: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listcolumn .listRow .column .column0 {
  width: 250px;
  display: inline-block;
  margin-top: 20px;
  white-space: normal;
}

.listcolumn .listRow .column .column0 .listTitle {
  display: inline-block;
  width: 250px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #204888;
  background-color: #204888;
  color: #fff;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 23px;
}

.listcolumn .listRow .column .column0 .listCon {
  width: 250px !important;
  display: inline-block;
  background-color: #e2ebf0;
  min-height: 0px;
  max-height: 600px;
  height: 600px;
}

.listcolumn .listRow .column .column1 {
  width: 900px;
  margin-top: 20px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
}

.listcolumn .listRow .column .column1 .listHeader {
  margin-top: 14px;
  white-space: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.listcolumn .listRow .column .column1 .listHeader .listHeaderTitle {
  width: 150px;
  height: 40px;
  border-bottom: 5px solid #204888;
  line-height: 40px;
  text-align: center;
  color: #204888;
  font-size: 24px;
  display: inline-block;
}

.listcolumn .listRow .column .column1 .listHeader .listHeaderPosition {
  width: 750px;
  height: 40px;
  vertical-align: bottom;
  line-height: 40px;
  color: #204888;
  text-decoration: none !important;
  font-size: 20px;
  display: inline-block;
  border-bottom: 5px solid #d0d0d0;
  text-align: right !important;
}

.listcolumn .listRow .column .column1 .listHeader .listHeaderPosition .Column_Position a {
  text-decoration: none !important;
  color: #204888;
}

.listcolumn .listRow .column .column1 .listContent {
  display: inline-block;
  width: 900px;
  margin-top: 20px;
  min-height: 600px;
  white-space: normal;
}

.listcolumn #wp_listcolumn_w04 {
  position: relative !important;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn {
  font-size: 18px;
  width: 250px !important;
  padding-left: 0px !important;
  background: none !important;
  border: none !important;
  display: block;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn .wp_column {
  background-color: #fff !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c3d1d7;
  display: block;
  width: 100%;
  vertical-align: bottom;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn .wp_column a {
  width: 100%;
  display: block;
  background-image: none !important;
  color: #204888 !important;
  background: none !important;
  border: none !important;
  text-align: center !important;
  line-height: 50px !important;
  font-size: 15px;
  font-weight: bold;
  word-wrap: break-word;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn .wp_column a .column-name {
  font-size: 20px;
  display: inline-block;
  line-height: 22px;
  padding: 5px 10px 5px 20px;
  cursor: pointer;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn .wp_column a :checked {
  width: 100%;
  height: 100%;
  color: #e2ebf0;
  background-color: #204888;
}

.listcolumn .wp_article_list {
  padding: 0px;
  position: relative !important;
  display: block;
  width: 100%;
}

.listcolumn .wp_article_list .list_item {
  display: inline-block;
  border: none !important;
  height: 50px !important;
  line-height: 50px !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  width: 100%;
  vertical-align: top;
}

.listcolumn .wp_article_list .list_item .pr_fields {
  display: inline;
  float: left;
}

.listcolumn .wp_article_list .list_item .pr_fields .Article_Index {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-top: 17px !important;
  color: #fff;
  font-size: 11px;
  float: left;
  margin-right: 5px;
  overflow: hidden;
  text-indent: -99em;
  background: url(../image/trangle.png) !important;
  margin-left: 5px;
  vertical-align: top;
  background-size: 10px 16px !important;
}

.listcolumn .wp_article_list .list_item .pr_fields .Article_Title {
  float: left;
}

.listcolumn .wp_article_list .list_item .pr_fields .Article_Title a {
  text-decoration: none !important;
  color: #000;
  font-size: 16px;
}

.listcolumn .Article_Title {
  float: left;
}

.listcolumn .Article_Title a {
  text-decoration: none !important;
  color: #000;
  font-size: 16px;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn {
  font-size: 18px;
  width: 250px !important;
  padding-left: 0px !important;
  background: none !important;
  border: none !important;
  display: block;
}

.listcolumn #wp_listcolumn_w04 .wp_listcolumn .wp_column {
  background-color: #fff !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #c3d1d7;
  display: block;
  width: 100%;
  vertical-align: bottom;
}

.listcolumn #wp_listcolumn_w9 .wp_listcolumn {
  padding-left: 0px !important;
}

.listcolumn #wp_listcolumn_w9 .wp_listcolumn .wp_column a {
  text-align: center;
  color: #204888;
  background-image: none !important;
  background: #f5f5f5;
}

.listcolumn #wp_listcolumn_w9 .wp_listcolumn .wp_column a .column-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px !important;
  text-align: center !important;
}

.listcolumn #wp_listcolumn_w9 .wp_listcolumn .wp_column a.selected {
  text-align: center;
  color: #f5f5f5;
  background-image: none !important;
  background-color: #204888 !important;
}
/*# sourceMappingURL=style0.css.map */