$width: 1200px;
$headerHeight: 120px;$headerBackColor: #1F6BBF;
$headerLogoWidth: 800px;$headerLogoHeight: 80px;$headerLogoMT: calc(($headerHeight - $headerLogoHeight) / 2);
$headerSearchWidth: 280px;$headerSearchHeight: 40px;$headerSearchMT: calc(($headerHeight - $headerSearchHeight) / 2);
$naviBarHeight: 60px;$naviBarBackColor: #204888;$naviBarHoverBackColor: #1F6BBF;$naviBarColor: #ffffff;$naviBarHoverColor: #ffffff;
$footerMT: 50px;$footerHeight: 100px;$footerBackColor: #204888;
$footerRightWidth: 800px;$footerLogoHeight: 60px;$footerLeftConColor: #ffffff;
$footerLeftConHeight: 30px;

/* 公共部分  */
.headerDiv{
    width: 100%;
    height: $headerHeight;
    background: $headerBackColor url("../image/head_bg.jpeg") no-repeat center;
    .header{
        width: $width;
        height: $headerHeight;
        margin: auto;
        .headerLogo{
            width: $headerLogoWidth;
            height: $headerHeight;
            float: left;
            .headerLogoImg{
                height: $headerLogoHeight;
                margin-top: $headerLogoMT;
            }
        }
        .headerSearch{
            width: $width - $headerLogoWidth;
            height: $headerHeight;
            float: right;
            .searchBox,.portal-w{
                width: $headerSearchWidth;
                height: $headerSearchHeight;
                float: right;
                margin-top: $headerSearchMT;
                background-color: white;
                form{
                    width: $headerSearchWidth;
                    height: $headerSearchHeight;
                    .wp_search{
                        width: $headerSearchWidth;
                        height: $headerSearchHeight;
                        table{
                            width: $headerSearchWidth;
                            height: $headerSearchHeight;
                            .keyword{
                                width: $headerSearchWidth - $headerSearchHeight !important;
                                height: $headerSearchHeight;
                                border: none;
                                padding: 0px;
                                padding-left: 10px;
                                float: left;
                            }
                            .search{
                                width: $headerSearchHeight;
                                height: $headerSearchHeight;
                                padding: 0px;
                                border: 0px;
                                background:#1F4888 url("../image/search.png") no-repeat center;
                                background-size: 75% 75%;
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
.naviBarDiv{
    width: 100%;
    height: $naviBarHeight;
    background: $naviBarBackColor;
    .naviBar{
        width: $width;
        height: $naviBarHeight;
        margin: auto;
        .naviCon,#wp_nav_w02{
            width: $width;
            height: $naviBarHeight;
            .wp_nav{
                width: $width;
                height: $naviBarHeight;
                .nav-item{
                    width: calc($width / 8);
                    background: $naviBarBackColor;
                    line-height: $naviBarHeight;
                    a{
                        color: $naviBarColor;
                        background-color: inherit;
                        font-size: 18px;
                        text-align: center;
                    }
                }
                .nav-item:hover{
                    color: $naviBarHoverColor;
                    background: $naviBarHoverBackColor;
                }
            }
        }
    }
}
.footerDiv{
    width: 100%;
    height: $footerHeight;
    background: $footerBackColor;
    margin-top: $footerMT;
    .footer{
        width: $width;
        height: $footerHeight;
        margin: auto;
        .footerLeft{
            width: $width - $footerRightWidth;
            height: $footerHeight;
            margin-top: calc(($footerHeight - 3 * $footerLeftConHeight) / 2);
            float: left;
            .footerLeftCon{
                width: 100%;
                height: $footerLeftConHeight;
                line-height: $footerLeftConHeight;
                font-size: 14px;
                font-family: "Microsoft YaHei";
                color: $footerLeftConColor;
            }
        }
        .footerRight{
            width: $footerRightWidth;
            height: $footerHeight;
            float: right;
            .footerLogoImg{
                height: $footerLogoHeight;
                margin-top: calc(($footerHeight - $footerLogoHeight) / 2);
                float: right;
            }
        }
    }
}

body{
    font-family: Microsoft YaHei, Helvetica, STHeiti STXihei, Microsoft JhengHei, Tohoma, Arial !important;
}

$contentMT: 50px;$contentHeight: 1050px;
$contentEleHeight: 450px;$contentEleWidth: 380px;
$contentRow00Width: 2 * $contentEleWidth;$contentRow01Width: $contentEleWidth;
$rowConTitleHeight: 50px;$rowConTitleBorderBottomColor: #1F6BBF;
$rowConTitleTitWidth: 100px;$rowConTitleTitBorderBottomWidth: 5px;$rowConTitleTitBorderBottomColor: #204988;
$rowConTitleColor: $rowConTitleTitBorderBottomColor;
$linkBoxHeight: 50px;$linkTitleWidth: 100px;$linkTitleBackColor: #204888;$linkTitleColor: #ffffff;
$linkBackColor: #f1f1f1;

/*主页*/
.main{
    margin: 0px;
    padding: 0px;
    .content{
        width: $width;
        height: $contentHeight;
        margin: auto;
        .imageBox{
            width: $contentEleWidth;
            height: $contentEleHeight - $rowConTitleHeight;
            margin-top: $rowConTitleHeight;
            float: left;
            .img{
                width: $contentEleWidth;
                height: $contentEleHeight;
            }
        }
        .row{
            width: $width;
            height: $contentEleHeight;
            margin-top: $contentMT;
            .rowCon{
                width: $contentEleWidth;
                height: $contentEleHeight;
                .ConTitle{
                    width: $contentEleWidth;
                    height: $rowConTitleHeight;
                    border-bottom: 2px solid $rowConTitleBorderBottomColor;
                    color: $rowConTitleColor;
                    box-sizing: border-box;
                    .title{
                        float: left;
                        width: $rowConTitleTitWidth;
                        height: $rowConTitleHeight;
                        line-height: $rowConTitleHeight;
                        text-align: center;
                        border-bottom: $rowConTitleTitBorderBottomWidth solid $rowConTitleTitBorderBottomColor;
                        box-sizing: border-box;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: "SimSun";
                    }
                    .moreBtn{
                        width: $rowConTitleTitWidth;
                        height: $rowConTitleHeight;
                        float: right;
                        line-height: $rowConTitleHeight;
                        font-weight: 700;
                        .moreText{
                            float: right;
                        }
                    }
                }
                .cons{
                    width: $contentEleWidth;
                    height: $contentEleHeight - $rowConTitleHeight;
                    .con{
                        width: $contentEleWidth;
                        height: $contentEleHeight - $rowConTitleHeight;
                    }
                }
            }
            .row00{
                width: $contentRow00Width;
                float: left;
                .rowCon{
                    float: right;
                    .ConTitle{
                        width: $contentRow00Width;
                        margin-left: -$contentEleWidth;
                    }
                }
            }
            .row01{
                width: $contentEleWidth;
                float: right;
            }
            .row1{
                width: $contentEleWidth;
                height: $contentEleHeight;
            }
            .row10{
                float: left;
            }
            .row11{
                float: left;
                margin-left: calc(($width - 3 * $contentEleWidth)/2);
            }
            .row12{
                float: right;
            }
        }
        .linkBox{
            width: $width;
            height: $linkBoxHeight;
            margin-top: $contentMT;
            .linkTitle{
                width: $linkTitleWidth;
                height: $linkBoxHeight;
                line-height: $linkBoxHeight;
                float: left;
                background: $linkTitleBackColor;
                color: $linkTitleColor;
                font-size: 20px;
                font-weight: 700;
                font-family: "SimSun";
                text-align: center;
            }
            .link{
                width: $width - $linkTitleWidth;
                height: $linkBoxHeight;
                line-height: $linkBoxHeight;
                background: $linkBackColor;
            }
        }
    }
}